<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">GlassHouse (work in progress)</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Actions
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/logout">Logout</a></li>
                            <li><a href="/signup">Get OAUTH2 creds</a></li>
                            <li><a href="/destroy_creds">Destroy OAUTH2 creds</a></li>
                        </ul>
                    </li>
                    <li>
                        -
                    </li>
                    <li>
                        -
                    </li>
                    <li>
                        -
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!-- /.navbar .container -->
    </div><!-- /.navbar-inner -->
</div><!-- /navbar -->
